*{
  
   margin: 0;
   padding: 0;

}

body{

   background-color: #f9f9f9;

}

#check{

   display: none;

}


#icone{

  cursor: pointer;
  padding:15px;
  position: absolute;
  z-index: 1    ;

}

.barra{

   background-color: #333;
   height: 100%;
   width: 300px;
   position: absolute;
   transition:  all .2s linear;
   left: -300px;

}

nav{
   
    height:100%;
    position: absolute;
    top: 60px;

}

nav a{

    text-decoration: none;

}

.link{

   background-color: #494950;
   padding: 20px;
   font-family: 'Arial';
   font-size: 12pt;
   transition: all .2s linear;
   color: #f4f4f4;
   border-bottom:  2px solid #222;
   width: 260px;
   opacity: 0;
   margin-top: 200px;

}

.link:hover{

    background-color: #050542;
}

#check:checked ~ .barra{

    transform: translateX(300px);

}

#check:checked ~ .barra nav a .link{

    opacity: 1;
    margin-top: 0;
    transition-delay: .1s;

}