* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", sans-serif;
}

@font-face{

    font-family:'ninja';
    src: url('../Font/ninja/NINJA.ttf');
    font-weight: normal;
    font-style: normal;

}

.cabecalho {
    background-color: #336699;
    color: #ffffff;
    padding: 10px;
    height:12vh;
    display: flex; 
    justify-content: center;
}



h1,h2,a{

    font-family: ninja;

}

h2{

    display: flex;
    justify-content: center;

}


.logo{

 width: 100%;

}

.cabecalho{

  display: flex;
  justify-content:  center;

}

/*arruma o img das armas*/
.barra-lateral-direita img{

    width:100%;

}

/*Leonardo color*/
.leo .cabecalho {

    background-color: #637CC1;
}


.leo .barra-lateral-direita h2{

    color: #637CC1;
}


.leo .barra-lateral-esquerda li{

    background-color: #637CC1;
}


.leo .rodape {

    background-color: #637CC1;
}
/*------------------------------------------------------------------------------------------*/


/*Raphael color*/
.Rapha .cabecalho {

    background-color: #B8342D;
}


.Rapha .barra-lateral-direita h2{

    color: #B8342D;
}


.Rapha .barra-lateral-esquerda li{

    background-color: #B8342D;
}


.Rapha .rodape {

    background-color: #B8342D;
}
/*------------------------------------------------------------------------------------------*/



/*Donatello color*/
.done .cabecalho {

    background-color: #9f6daa;
}


.done .barra-lateral-direita h2{

    color: #9f6daa;
}


.done .barra-lateral-esquerda li{

    background-color: #9f6daa;
}

.done .rodape {

    background-color: #9f6daa;
}
/*------------------------------------------------------------------------------------------*/

/*Michelangelo color*/
.mike .cabecalho {

    background-color: #F2B031;
}


.mike .barra-lateral-direita h2{

    color: #F2B031;
}


.mike .barra-lateral-esquerda li{

    background-color: #F2B031;
}

.mike .rodape {

    background-color: #F2B031;
}
/*------------------------------------------------------------------------------------------*/


/*inicio color*/
.inicio .cabecalho {

    background-color: #30AB49;
}


.inicio .barra-lateral-direita h2{

    color: #30AB49;
}


.inicio .barra-lateral-esquerda li{

    background-color: #30AB49;
}

.inicio .rodape {

    background-color: #30AB49;
}
/*------------------------------------------------------------------------------------------*/


/*Mestre splinter color*/
.mestre .cabecalho {

    background-color: #321018;
}


.mestre .barra-lateral-direita h2{

    color: #321018;
}


.mestre .barra-lateral-esquerda li{

    background-color: #321018;
}

.mestre .rodape {

    background-color: #321018;
}
/*------------------------------------------------------------------------------------------*/

.conteudo{
    width: 100%;
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.artigo {
    width: 70%;
    padding:1%;
    display: inline-block;
}

.perfil{
    display:block;
    margin: 30px auto;
    max-width: 30%;
}

.inicio_perfil{
    display:block;
    margin: 30px auto;
    max-width: 20%;
}

.barra-lateral-esquerda, .barra-lateral-direita {
    width:15%;
    display:inline-block;
    height:80vh;
}

img .armas{
    justify-content: center;
}

/*
#esquerda{

    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

}
*/

.barra-lateral-esquerda ul {
    list-style-type: none;
    margin: 1%;
    padding: 1%;
}

.barra-lateral-esquerda li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #336699;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.barra-lateral-esquerda li a {
    color: #ffffff;
    text-decoration: none;
    width:100%;
    display: block;
}

#inicio_menu:hover{

    background-color: #30AB49;
    box-shadow: 2px 2px 2px #10581e;

}

#leo_menu:hover {
    background-color: #343A94;
    box-shadow: 2px 2px 2px #0c0f42;
}

#rapha_menu:hover {
    background-color: #981f23;
    box-shadow: 2px 2px 2px #5a0e10;
}

#done_menu:hover {
    background-color: #9f6daa;
    box-shadow: 2px 2px 2px #541b61;
}

#mike_menu:hover {
    background-color: #f5702e;
    box-shadow: 2px 2px 2px #743617;
}

#mestre_menu:hover {
    background-color: #321018;
    box-shadow: 2px 2px 2px #1a070b;
}

.barra-lateral-direita h2{
    color: #336699;
    margin: 10px 0;
}

.rodape {
    background:#336699;
    padding:1%;
    color: #FFF;
}


/* Desse ponto em diante estamos falando em responsive*/
@media screen and (max-width: 768px) {
    .barra-lateral-esquerda, .barra-lateral-direita {
        width: 100%;
        height: 100%;
        padding:2%;
    }

    /*Centraliza o titulo quando esta em telas menores*/
     h1{
    
        font-size: 150%;
        margin-top: 10px;
     }

    .artigo{
        padding:2%;
        width:100%;
        display: inline-block;
    }


    .rodape {
        padding:5%;
    }    
}