*{

  margin: 0;
  padding: 0;
  /*usa a primeria opção caso nn haja a font arial ele procura 
  pela helvevica caso nn tenha nenhuma das suas primeiras ele ira 
  procurar sans-serif*/
  font-family: Arial, Helvetica, sans-serif;
  font-size:13px

}

h1,h2,h3,p,ul,li{

   margin:10px;

}



h1 {
  font-size: 32px;
  text-align: center;
}

h2{ 

   font-size:15px;

}

.conteudoHome{

    max-width:920px;
    background:gray;
    margin: 0 auto;

}

nav ul {

  list-style:none;
  display: flex;  

}

a,img{

  position: center;

}

nav ul li{

  padding: 1% 0;
  margin: 0 2%;
  width: 25%;
  text-align: center;

}

nav ul li a{

  color: #fff;
  text-decoration: none;

}

nav ul li a:hover{

     text-decoration: underline;
     text-shadow: 1px 1px 1px #999;

}

form{

  display:flex;
  flex-direction: row;

}

.galeria img {

    max-width: 500px;
    
    margin: 3% auto;
    display: block;
    box-shadow: 5px 5px 3px #999;


}