	*{

  margin: 0;
  padding: 0;
  /*usa a primeria opção caso nn haja a font arial ele procura 
  pela helvevica caso nn tenha nenhuma das suas primeiras ele ira 
  procurar sans-serif*/
  font-family: VCR,Arial, Helvetica, sans-serif;
  font-size:13px;
   

}
@font-face {
  
  font-family: 'VCR';
  src: url('../font/vcr_osd_mono/VCR_OSD_MONO_1.001.ttf');
  font-weight: normal;
  font-style: normal;

}

body{

  background-image: url('../midia/fundo_2.jpg');

}

h1,h2,h3,p,ul,li{

   margin:10px;
   color: #FFFFFF;
   

}



h1 {
  font-size: 32px;
  text-align: center;
  font-smooth: never; 
}

h2{ 

   font-size:15px;

}

.conteudoHome{

    max-width:920px;
    background:rgb(63, 62, 62);
    margin: 0 auto;

}

nav ul {

  list-style:none;
  display: flex;  

}

a,img{

  position: center;

}

nav ul li{

  padding: 1% 0;
  margin: 0 2%;
  width: 25%;
  text-align: center;
  align-items:center;

}

nav ul li a{

  color: #fff;
  text-decoration: none;

}

nav ul li a:hover{

     text-decoration: underline;
     text-shadow: 1px 1px 1px #999;

}

form{

  display:flex;
  flex-direction: row;

}

.galeria img {

    max-width: 500px;
    
    margin: 3% auto;
    display: block;
    box-shadow: 5px 5px 3px #999;


}

nav{

  padding: 0.5% 0;
  background: rgb(31, 30, 30);
  
}

.menu{

  justify-content: center;
}

header{
 
  padding: 1% 0;
  background:rgb(63, 62, 62);
  color: #FFFFFF;
  

}


footer{
  padding: 1% 0;
  background: #333;
  color: #FFFFFF;
}

.img{
  width:50px;
  height:50px;
  transition: all .7s;
}

.img:hover {
  width:60px;
  height:60px;
}